{% load static %}

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}{{title|default:"Django Webdav"}}{% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'webdav/bulma.min.css' %}">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
	<a class="navbar-item" href="/">
	  <span class="has-text-weight-bold">Django Webdav</span>
	</a>
	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	  <span aria-hidden="true"></span>
	</a>
      </div>
    </nav>

    <div id="app">
      {% block content %}{% endblock %}
    </div>

    {# Global javascript #}
    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
